<h1>Search Articles</h1>

<%= form_tag("/articles/search", method: "post") do %>
  <%= label_tag(:query, "Search for:") %>
  <%= text_field_tag(:query) %>
  <%= submit_tag("Search") %>
<% end %>

<% if request.post? %>
	<h2> Search Results </h2>

	<%= render 'list' %>
<% end %>
<br>
<br>
<%= link_to 'Back to All Articles', articles_path %>

