<h1>Listing Authors</h1>
 
<table>
	<% @authors.each do |author| %>
	    <tr>
	      <td><%= author.name %></td>
	      <td><%= link_to 'Edit', edit_author_path(author)%>
	      </td>
	      <td><%= link_to 'Delete', author_path(author),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
	    </tr>
	  <% end %>
<%= link_to 'New Author', new_author_path %> |
<%= link_to 'Back to Articles', articles_path %>
</table>